body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background-color: #F4D23C;
}

#pokemon-search-app {
  /* border: 1px solid black; */
  max-width: calc(430px - 30px);
  width: 100%;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  z-index: 2;
  overflow: hidden;
}

#search-bar {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#search-bar label {
  display: block;
  margin-bottom: 10px;
}

#search-bar input {
  font-size: 1rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 6px 0 0 6px;
  padding: 4px;
  background-color: rgba(255, 255, 255,0.75);
}

#search-bar button {
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background-color: #ff822e;
  padding: 0 10px;
  transition: all ease-in 0.3s;
}

#search-bar button:hover {
  cursor: pointer;
  background-color: #FF6517;
  transition: all ease-in 0.3s;
}

/* At start, do not show data */
.hidden {
  display: none
}
/* ---------- */

#background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 500px; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; 
}
.bg-normal {
  background: linear-gradient(135deg, rgb(145, 154, 162), rgba(145, 154, 162, 0.5)); 
}
.bg-fire {
  background: linear-gradient(135deg, rgb(253, 125, 36), rgba(253, 125, 36, 0.5)); 
}
.bg-fighting {
  background: linear-gradient(135deg, rgb(206, 65, 107), rgba(206, 65, 107, 0.5)); 
}
.bg-water {
  background: linear-gradient(135deg, rgb(80, 144, 214), rgba(80, 144, 214, 0.5)); 
}
.bg-flying {
  background: linear-gradient(135deg, rgb(137, 170, 227), rgba(137, 170, 227, 0.5)); 
}
.bg-grass {
  background: linear-gradient(135deg, rgb(99, 188, 90), rgba(99, 188, 90, 0.5)); 
}
.bg-poison {
  background: linear-gradient(135deg, rgb(181, 103, 206), rgba(181, 103, 206, 0.5)); 
}
.bg-electric {
  background: linear-gradient(135deg, rgb(244, 210, 60), rgba(244, 210, 60, 0.5)); 
}
.bg-ground {
  background: linear-gradient(135deg, rgb(217, 120, 69), rgba(217, 120, 69, 0.5)); 
}
.bg-psychic {
  background: linear-gradient(135deg, rgb(250, 113, 121), rgba(250, 113, 121, 0.5)); 
}
.bg-rock {
  background: linear-gradient(135deg, rgb(197, 183, 140), rgba(197, 183, 140, 0.5)); 
}
.bg-ice {
  background: linear-gradient(135deg, rgb(115, 206, 192), rgba(115, 206, 192, 0.5)); 
}
.bg-bug {
  background: linear-gradient(135deg, rgb(145, 193, 47), rgba(145, 193, 47, 0.5)); 
}
.bg-dragon {
  background: linear-gradient(135deg, rgb(11, 109, 195), rgba(11, 109, 195, 0.5)); 
}
.bg-ghost {
  background: linear-gradient(135deg, rgb(82, 105, 173), rgba(82, 105, 173, 0.5)); 
}
.bg-dark {
  background: linear-gradient(135deg, rgb(90, 84, 101), rgba(90, 84, 101, 0.5)); 
}
.bg-steel {
  background: linear-gradient(135deg, rgb(90, 142, 162), rgba(90, 142, 162, 0.5)); 
}
.bg-fairy {
  background: linear-gradient(135deg, rgb(236, 143, 230), rgba(236, 143, 230, 0.5)); 
}



#pokemon-info {
  text-align: center;
  margin-bottom: 20px;
}

#pokemon-info img {
  width: 175px;
  height: 175px;
}

#pokemon-name {
  font-weight: bold;
  margin-right: 15px;
  font-size: 1.5rem;
}

#pokemon-id {
  font-style: italic;
}
#pokemon-id::before {
  content: "#";
}

#weight, #height {
  font-weight: bold;
}
#weight::after {
  content: "kg";
}
#height::after {
  content: "m";
}

.type {
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1rem; 
  padding: 3px 9px;
}

.type::before {
  content: "";
  display: inline-block; 
  width: 18px; 
  height: 18px;
  background-size: 12px 12px; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: white; 
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 3px 3px 0;
}


/* color types */
.normal {
  background-color: rgb(145, 154, 162)
}
.fire {
  background-color: #FF9D55
}
.fighting {
  background-color: rgb(206, 65, 107)
}
.water {
  background-color: #5090D6;
}
.flying {
  background-color: #89AAE3
}
.grass {
  background-color: #63BC5A
}
.poison {
  background-color: #B567CE
}
.electric {
  background-color: #F4D23C
}
.ground {
  background-color: #D97845
}
.psychic {
  background-color: #FA7179
}
.rock {
  background-color: #C5B78C
}
.ice {
  background-color: #73CEC0
}
.bug {
  background-color: #91C12F
}
.dragon {
  background-color: #0B6DC3
}
.ghost {
  background-color: #5269AD
} 
.dark {
  background-color: #5A5465
}
.steel {
  background-color: #5A8EA2
}
.fairy {
  background-color: #EC8FE6;
}

/* svg */
.normal::before {
  background-image: url('./assets/normal.svg'); 
}
.fire::before {
  background-image: url('./assets/fire.svg'); 
}
.fighting::before {
  background-image: url('./assets/fighting.svg'); 
}
.water::before {
  background-image: url('./assets/water.svg');
}
.flying::before {
  background-image: url('./assets/flying.svg'); 
}
.grass::before {
  background-image: url('./assets/grass.svg'); 
}
.poison::before {
  background-image: url('./assets/poison.svg'); 
}
.electric::before {
  background-image: url('./assets/electric.svg'); 
}
.ground::before {
  background-image: url('./assets/ground.svg'); 
}
.psychic::before {
  background-image: url('./assets/psychic.svg'); 
}
.rock::before {
  background-image: url('./assets/rock.svg'); 
}
.ice::before {
  background-image: url('./assets/ice.svg'); 
}
.bug::before {
  background-image: url('./assets/bug.svg'); 
}
.dragon::before {
  background-image: url('./assets/dragon.svg'); 
}
.ghost::before {
  background-image: url('./assets/ghost.svg'); 
} 
.dark::before {
  background-image: url('./assets/dark.svg'); 
}
.steel::before {
  background-image: url('./assets/steel.svg'); 
}
.fairy::before {
  background-image: url('./assets/fairy.svg'); 
}


h2 {
  text-align: left;
  margin: 20px 0 10px 20px;
  font-size: 1.25rem;
  color: rgb(85, 85, 85)
}

/* table */
table {
  margin: auto;
  background-color: transparent;
}
th, td {
  padding: 5px 15px;
}
th {
  text-align: right;
}
td {
  text-align: center;
}

progress {
  height: 20px;
}